<div class="d-flex flex-column flex-shrink-0 ms-auto" style="width: 4.5rem">
  <ul class="nav nav-flush flex-column mb-auto text-center sidebar">
    <li class="nav-item">
      <i
        class="fa-solid fa-house active py-3"
        pTooltip="Home"
        routerLink="/home"
      ></i>
    </li>
    <li>
      <i
        class="fa-solid fa-user py-3"
        pTooltip="About Us"
        routerLink="/about"
      ></i>
    </li>
    <li>
      <i
        class="fa-solid fa-table-list py-3"
        pTooltip="Services"
        routerLink="/services"
      ></i>
    </li>
    <li>
      <i
        class="fa-solid fa-briefcase py-3"
        pTooltip="My work"
        routerLink="/work"
      ></i>
    </li>
    <li>
      <i
        class="fa-solid fa-envelope py-3"
        pTooltip="Contact"
        routerLink="/contact"
      ></i>
    </li>
  </ul>
</div>
